#laPsicologia_img{
    width: 90%;
    max-width: 767px;
    margin: auto;    
}

article{
    max-width: 767px;
}

video{
    width: 100%;
    max-width: 767px;
}

.footer-icon{
    font-size: 2rem;    
}



